body {
    background: url(./img/system/background.svg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .main {
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
  }
  
  .login {
    margin-right: 100px;
    width: 350px;
  }
  
  .card {
    font-family: "Anybody", serif;
    background-color: white;
    box-shadow: 2px 2px 5px 5px #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .card-center {
    text-align: center;
  }
  
  .card-center > h2 {
    margin: auto;
    padding: 30px 20px 12px;
    border-bottom: 1px solid rgb(197, 200, 201);
    gap: 10px;
    width: fit-content;
    font-weight: 350;
    color: rgb(92, 93, 94);
    font-size: 25px;
    cursor: default;
  }
  
  .email,
  .password {
    margin-top: 20px;
    padding-top: 15px;
    padding-right: 110px;
    border: none;
    border-bottom: 1px solid rgb(169, 172, 173);
    color: rgb(169, 172, 173);
  }
  
  .email:first-child {
    margin-top: 40px;
  }
  
  .email::placeholder,
  .password::placeholder {
    font-style: italic;
    font-size: 18px;
    font-family: "Anybody", serif;
    font-weight: 200;
  }
  
  .email:focus,
  .password:focus {
    border-bottom: 1px solid rgb(81, 85, 85);
    outline: none;
  }

  .email:hover,
  .password:hover {
    border-bottom: 1px solid rgb(81, 85, 85);
    outline: none;
  }
  
  .form {
    text-align: center;
  }
  
  .form > button {
    margin-top: 50px;
    background-color: #EA1414;
    color: white;
    width: 95%;
    padding: 8px 0;
    border: none;
    border-radius: 90px;
    font-size: 20px;
    cursor: pointer;
  }

  .form > button:hover {
    background-color: #cc1313;
  }
  
  .logoText {
    font-size: 50px;
    font-weight: 600;
    height: auto;
  }

.error-message {
    font-family: "Anybody", serif;
    font-weight: 300;
    background-color: #cc1313;
    color:rgb(255, 255, 255);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    display: none;
}